<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>O'qituvchi qo'shish</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <form #teacherForm="ngForm" novalidate class="ion-margin">
    <ion-row class="ion-padding">
      <ion-col sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12" sizeXl="6">
        <ion-list class="shadow">
          <ion-item>
            <ion-label >O'qituvchining rasmi</ion-label>
          </ion-item>
          <ion-item color="light" class="height ion-margin ion-justify-content-center" lines >
            <img size="12" src="assets/img/upload.ico">
            <!-- <ion-label>Rasmni tanlang</ion-label> -->
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12" sizeXl="6">
        <ion-list class="ion-text-left">
          <ion-item>
            <ion-label position="floating" >Ism</ion-label>
            <ion-input [(ngModel)]="teacher.name" name="name" type="text" #name="ngModel">
            </ion-input>
          </ion-item>
            <ion-text color="medium" class="ion-margin-start">
              O'qituvchining ismini kiriting
            </ion-text>
          <ion-item>
            <ion-label position="floating">Telefon raqam</ion-label>
            <ion-input [(ngModel)]="teacher.phone" name="phone" type="phone" #phone="ngModel">
            </ion-input>
          </ion-item>
          <ion-text color="medium" class="ion-margin-start">O'qituvchining telefon raqamini kiriting</ion-text>

          <ion-item>
            <ion-label position="floating" >Fanlar</ion-label>
            <ion-input [(ngModel)]="teacher.subjects" name="subjects" type="text" #subjects="ngModel">
            </ion-input>
          </ion-item>
          <ion-text color="medium" class="ion-margin-start">O'qituvchining o'tadigan fanlarni kiriting</ion-text>

          <ion-item class="item" details>
            <input [(ngModel)]="teacher.salaryType" (input)="onInput()" [class.inputWidth]="inputOn" name="salaryType" type="text" #salaryType="ngModel" list="salary"  placeholder="Oylik turi">
            <datalist id="salary">
              <option value="Oylik">
              <option value="Foiz">
            </datalist>
            <div *ngIf="inputOn" class="inputWidth">
              <input [(ngModel)]="teacher.salary" type="text" name="salary" #salary="ngModel" >
              <span>{{ sType }}</span>
            </div>
          </ion-item>
          <ion-text color="medium" class="ion-margin-start">O'qituvchining maoshi turini tanlang</ion-text>
        </ion-list> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-button (click)="cancel()" type="button" class="ion-margin" fill="outline">Bekor qilish</ion-button>
        <ion-button (click)="onTeacher(teacherForm)" type="submit" class="ion-margin">Qo'shish</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
